<!-- navbar -->
<nav class="navbar navbar-expand-md bg-main nav-web fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="menu-home" class="nav-link font15 p-menu lang" href="index.php" style="z-index: 99;">หน้าแรก</a>
                </li>
                <li class="nav-item">
                    <a id="menu-check-huay" class="nav-link font15 p-menu lang" href="#check-huay-card" style="z-index: 99;">ตรวจหวย</a>
                </li>
                <li class="nav-item">
                    <a id="menu-check-huay" class="nav-link font15 p-menu lang" href="#check-huay-card" style="z-index: 99;">หวยรัฐบาล</a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link font15 p-menu dropdown-toggle lang" href="#" id="interLotto" data-bs-toggle="dropdown" aria-expanded="false" style="z-index: 99;">หวยต่างประเทศ</a>
                    <ul class="dropdown-menu" aria-labelledby="interLotto">
                        <li><a id="menu-hun-korea" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(4)">-หุ้นเกาหลี</a></li>
                        <li><a id="menu-nikai-1" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(0)">-นิเคอิรอบเช้า</a></li>
                        <li><a id="menu-nikai-2" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(5)">-นิเคอิรอบบ่าย</a></li>
                        <li><a id="menu-hanseng-1" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(2)">-ฮั่งเส็งรอบเช้า</a></li>
                        <li><a id="menu-hanseng-2" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(7)">-ฮั่งเส็งรอบบ่าย</a></li>
                        <li><a id="menu-china-1" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(1)">-จีนรอบเช้า</a></li>
                        <li><a id="menu-china-2" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(6)">-จีนรอบบ่าย</a></li>
                        <li><a id="menu-hun-tiwan" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(3)">-หุ้นไต้หวัน</a></li>
                        <li><a id="menu-hun-sing" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(8)">-หุ้นสิงคโปร์</a></li>
                        <li><a id="menu-hun-egypt" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(11)">-หุ้นอียิปต์</a></li>
                        <li><a id="menu-hun-german" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(14)">-หุ้นเยอรมัน</a></li>
                        <li><a id="menu-hun-eng" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(13)">-หุ้นอังกฤษ</a></li>
                        <li><a id="menu-hun-rus" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(12)">-หุ้นรัสเซีย</a></li>
                        <li><a id="menu-hun-india" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(10)">-หุ้นอินเดีย</a></li>
                        <li><a id="menu-hun-downjone" class="dropdown-item font15 text-white lang" href="#projects" onclick="btnTrig(15)">-หุ้นดาวโจนส์</a></li>
                        <li><a id="menu-huay-malay" class="dropdown-item font15 text-white lang" href="result-huay/huay-malay.php">-หวยมาเลย์</a></li>
                        <li><a id="menu-huay-laos" class="dropdown-item font15 text-white lang" href="result-huay/huay-lao.php">-หวยลาว</a></li>
                        <li><a id="menu-huay-hanoi" class="dropdown-item font15 text-white lang" href="result-huay/huay-hanoi.php">-หวยเวียดนาม\/ฮานอย</a></li>
                        <li><a id="menu-huay-hanoi-s" class="dropdown-item font15 text-white lang" href="result-huay/huay-hanoi-s.php">-หวยเวียดนาม\/ฮานอยพิเศษ</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="menu-doc" class="nav-link font15 p-menu lang" href="#" style="z-index: 99;">ติดต่อเรา</a>
                </li>
                <li class="nav-item">
                    <a id="menu-doc" class="nav-link font15 p-menu lang" href="#" style="z-index: 99;">วิธีการใช้</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>
<!-- /.navbar -->