{% extends 'base.html' %}
{% load static %}
{% block title %}หน้าแรก{% endblock title %}

{% block content %}
<section id="services" style="padding-top:15px ;">
<!-- THAI LOTTO -->
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 cnt_head">
					<span class="sub_head" id="current-time"></span>
					<h2 class="s_head">ดูผลหวยออนไลน์</h2>
				</div>
			</div>
			<div class="row ser_cnt text-center">
				<div class="col-lg-4 col-md-12 col-xs-12 serv ">
					<a href="#" style="text-decoration: none;color:unset;">
						<div class="card" style="padding:15px;">
							<div class="row">
								<div class="col-4 text-center" style="vertical-align: middle">
									<img class="img-fluid" src="{% static 'home/img/flags/thai_flag.png' %}" alt="" srcset="">
								</div>
								<div class="col-8 text-left">
									<div class="row">
										<div class="col-12">
											<span class="ser_ttl" style="font-size: 18px;">ผลหวยรัฐบาลไทย</span>
										</div>
										<div class="col-12">
											<small>งวดล่าสุด</small>
											<p style="font-size: 16px;margin-bottom: 0px;" id="date-thai">รออัพเดท...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
<!-- END THAI -->
<!-- LAO LOTTO -->
<div class="col-lg-4 col-md-12 col-xs-12 serv ">
					<a href="./huay-lao.php" style="text-decoration: none;color:unset;">
						<div class="card" style="padding:15px">
							<div class="row">
								<div class="col-4 text-center" style="vertical-align: middle">
									<img class="img-fluid" src="{% static 'home/img/flags/lao_flag.png' %}" alt="" srcset="">
								</div>
								<div class="col-8 text-left">
									<div class="row">
										<div class="col-12">
											<span class="ser_ttl" style="font-size: 18px;">ผลหวยลาว</span>
										</div>
										<div class="col-12">
											<small>งวดล่าสุด</small>
											<p style="font-size: 16px;margin-bottom: 0px;" id="date-lao">รออัพเดท...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
<!-- END LAO LOTTO-->
<!-- LAO VIP -->
<div class="col-lg-4 col-md-12 col-xs-12 serv ">
					<a href="./huay-lao-vip.php" style="text-decoration: none;color:unset;">
						<div class="card" style="padding:15px">
							<div class="row">
								<div class="col-4 text-center" style="vertical-align: middle">
									<img class="img-fluid" src="{% static 'home/img/flags/lao_flag.png' %}" alt="" srcset="">
								</div>
								<div class="col-8 text-left">
									<div class="row">
										<div class="col-12">
											<span class="ser_ttl" style="font-size: 18px;">ผลหวยลาว <b class="text-warning">VIP</b></span>
										</div>
										<div class="col-12">
											<small>งวดล่าสุด</small>
											<p style="font-size: 16px;margin-bottom: 0px;" id="date-lao-vip">รออัพเดท...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
<!-- END LAO VIP-->
<!-- HANOI -->
<div class="col-lg-4 col-md-12 col-xs-12 serv ">
					<a href="./huay-hanoi.php" style="text-decoration: none;color:unset;">
						<div class="card" style="padding:15px">
							<div class="row">
								<div class="col-4 text-center" style="vertical-align: middle">
									<img class="img-fluid" src="{% static 'home/img/flags/hanoi_flag.png' %}" alt="" srcset="">
								</div>
								<div class="col-8 text-left">
									<div class="row">
										<div class="col-12">
											<span class="ser_ttl" style="font-size: 18px;">ผลหวยฮานอย</span>
										</div>
										<div class="col-12">
											<small>งวดล่าสุด</small>
											<p style="font-size: 16px;margin-bottom: 0px;" id="date-hanoi">รออัพเดท...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
<!-- END HANOI -->
<!-- HANOI SPECIAL -->
<div class="col-lg-4 col-md-12 col-xs-12 serv ">
					<a href="./huay-hanoi-s.php" style="text-decoration: none;color:unset;">
						<div class="card" style="padding:15px">
							<div class="row">
								<div class="col-4 text-center" style="vertical-align: middle">
									<img class="img-fluid" src="{% static 'home/img/flags/hanoi_flag.png' %}" alt="" srcset="">
								</div>
								<div class="col-8 text-left">
									<div class="row">
										<div class="col-12">
											<span class="ser_ttl" style="font-size: 18px;">ผลหวยฮานอย <b
													class="text-warning">พิเศษ</b></span>
										</div>
										<div class="col-12">
											<small>งวดล่าสุด</small>
											<p style="font-size: 16px;margin-bottom: 0px;" id="date-hanoi-s">รออัพเดท...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
<!-- END HANOI SPECIAL -->
<!-- HANOI VIP -->
<div class="col-lg-4 col-md-12 col-xs-12 serv ">
					<a href="./huay-hanoi-vip.php" style="text-decoration: none;color:unset;">
						<div class="card" style="padding:15px">
							<div class="row">
								<div class="col-4 text-center" style="vertical-align: middle">
									<img class="img-fluid" src="{% static 'home/img/flags/hanoi_flag.png' %}" alt="" srcset="">
								</div>
								<div class="col-8 text-left">
									<div class="row">
										<div class="col-12">
											<span class="ser_ttl" style="font-size: 18px;">ผลหวยฮานอย <b
													class="text-warning">VIP</b></span>
										</div>
										<div class="col-12">
											<small>งวดล่าสุด</small>
											<p style="font-size: 16px;margin-bottom: 0px;" id="date-hanoi-vip">รออัพเดท...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
<!-- MALAYSIA LOTTO -->
<div class="col-lg-4 col-md-12 col-xs-12 serv ">
					<a href="./huay-malay.php" style="text-decoration: none;color:unset;">
						<div class="card" style="padding:15px">
							<div class="row">
								<div class="col-4 text-center" style="vertical-align: middle">
									<img class="img-fluid" src="{% static 'home/img/flags/malay_flag.png' %}" alt="" srcset="">
								</div>
								<div class="col-8 text-left">
									<div class="row">
										<div class="col-12">
											<span class="ser_ttl" style="font-size: 18px;">ผลหวยมาเลย์
										</div>
										<div class="col-12">
											<small>งวดล่าสุด</small>
											<p style="font-size: 16px;margin-bottom: 0px;" id="date-malay">รออัพเดท...</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
</section>
{% endblock content %}